<div class="container-fluid container-sm pt-5 my-4 border" style="background-color: lightblue">
  <h1 class="text-center font-weight-bold">PLAYER RESULTS</h1>
  <h3 class="pt-5 pl-5 font-weight-bold w-75">HISTORY OF RESULTS FOR {{player.username | uppercase}}: </h3>
  <ul class="list-group list-group-horizontal pb-1 mx-5 font-weight-bold">
    <li
      class="list-group-item border border-dark d-flex flex-fill pl-3"
      style="background-color: #fff5db">
      {{player.username}}
    </li>
    <li
      class="list-group-item border border-dark"
      style="background-color: #fff5db">
      WINS: {{player.wins}}
    </li>
    <li
      class="list-group-item border border-dark"
      style="background-color: #fff5db">
      LOSSES: {{player.losses}}
    </li>
    <li
      class="list-group-item border border-dark"
      style="background-color: #fff5db">
      DRAWS: {{player.draws}}
    </li>
  </ul>
  <div class="d-flex justify-content-center pt-4 pb-3">
    <div class="btn-group w-25">
      <button type="button" class="btn btn-success mr-3 w-50" (click)="onStartNewGame()">START NEW GAME</button>
    </div>
  </div>
</div>
